# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Data
*.csv
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
